@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #00ffcc;
  border-radius: 4px;
}

a {
  outline: none;
}

a:focus-visible {
  outline: 2px solid #00ffcc;
  outline-offset: 2px;
}
